version: '3.8'

services:
    rabbitmq:
        image: rabbitmq:3.13-management
        container_name: rabbitmq
        ports:
            - '5672:5672'
            - '15672:15672'
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq

    postgres:
        image: postgres:16
        container_name: postgres
        ports:
            - '5432:5432'
        environment:
            POSTGRES_USER: call_user
            POSTGRES_PASSWORD: call_pass
            POSTGRES_DB: call_analysis
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    rabbitmq_data:
    postgres_data:
