# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
build/
dist/

# RabbitMQ / temp files
*.pid
*.sock
tmp/
